
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/recruit-me-web/node_modules/
/recruit-me-web/target/
/recruit-me-app/target/
/recruit-me-web/dist/

*.DS_Store

docker-compose/backend/app.jar
docker-compose/frontend/files/
.DS_Store
docker-compose/.DS_Store
recruit-me-web/.DS_Store
