<div class="row list-controls-row">
    <section class="offset-md-1 col-md-3 crud-controls">
        <a routerLink='/users/create'>Add new</a>
    </section>
</div>
<div class="row">
    <section class="offset-md-1 col-md-10 hrapplist">
        <ngx-datatable *ngIf="rows"
                       class="material"
                       [rows]="rows"
                       [columns]="columns"
                       [columnMode]='"force"'
                       [headerHeight]='50'
                       [footerHeight]='50'
                       [rowHeight]='"auto"'>
        </ngx-datatable>
        <ng-template #linkTemplate let-row="row" let-value="value" let-i="index">
            <a routerLink="/users/{{row.id}}"> {{ value }} </a>
        </ng-template>
        <h2 *ngIf="!rows && !errorMsg" class="text-center">No users currently exist</h2>
        <h2 *ngIf="errorMsg" class="text-center">{{ errorMsg }}</h2>
    </section>
</div>