<section class="model-details">
  <h3>{{ applicant.firstName }} {{ applicant.lastName }}</h3>
  <p>Birth Date: {{ applicant.birthDate }}</p>
  <p>Phone Number: {{ applicant.phoneNumber }}</p>
  <p>E-Mail: {{ applicant.phoneNumber }}</p>
  <p>
    Resume: <a *ngIf="applicant.resume" href="{{ applicant.resume.value }}">{{applicant.resume.name}}</a>
    <span *ngIf="!applicant.resume">No resume submitted</span>
  </p>
  <div class="container" *ngIf="isApplicantsPage">
    <div class="row">
      <a routerLink="/applicants/edit/{{applicant.id}}" class="btn btn-primary a-btn-slide-text">
        <span><strong>Edit</strong></span>
      </a>
      <a href="javascript:void(0)" class="btn btn-danger a-btn-slide-text" data-toggle="modal"
         data-target="#deleteModal">
        <span><strong>Delete</strong></span>
      </a>
    </div>
  </div>
  <a *ngIf="isApplicantsPage" routerLink="/applicants"><p>Go back to list</p></a>
</section>
<div *ngIf="isApplicantsPage" class="row">
  <section class="offset-md-1 col-md-10 hrapplist">
    <h2>Ongoing recruitment processes for this applicant</h2>
    <ngx-datatable *ngIf="rows"
                   class="material"
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]='"force"'
                   [headerHeight]='50'
                   [footerHeight]='50'
                   [rowHeight]='"auto"'>
    </ngx-datatable>
    <h2 *ngIf="!rows && !errorMsg" class="text-center">No processes currently exist for this applicant</h2>
    <h2 *ngIf="errorMsg" class="text-center">{{ errorMsg }}</h2>
  </section>
</div>
<ng-template #linkTemplate let-row="row" let-value="value" let-i="index">
  <a routerLink="/processes/{{row.id}}"> {{ value }} </a>
</ng-template>

<!-- Modal -->
<div id="deleteModal" *ngIf="isApplicantsPage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ applicant.firstName }} {{ applicant.lastName }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteApplicant()">Delete
        </button>
      </div>
    </div>
  </div>
</div>
