<h1>Create job posting</h1>
<form (ngSubmit)="saveJobPosting()" #jobPostingsForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="model.title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" required [(ngModel)]="model.description">
    </textarea>
  </div>

  <div class="form-group">
    <label for="salaryInfo">Salary Info</label>
    <input type="text" class="form-control" id="salaryInfo" name="salaryInfo" required [(ngModel)]="model.salaryInfo">
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!jobPostingsForm.form.valid">Submit</button>
  <p class="alert-danger" *ngIf="errorMsg">{{ errorMsg }}</p>

</form>
