<div class="row list-controls-row">
  <section class="offset-md-1 col-md-3 list-controls">
    <a routerLink='/recruiters/create'>Add new</a>
  </section>
</div>
<div class="row">
  <section class="offset-md-1 col-md-10 hrapplist">
    <ngx-datatable *ngIf="rows"
                   class="material"
                   [rows]="rows"
                   [columns]="columns"
                   [columnMode]='"force"'
                   [headerHeight]='50'
                   [footerHeight]='50'
                   [rowHeight]='"auto"'>

    </ngx-datatable>
    <h2 *ngIf="!rows" class="text-center">No recruiters currently exist</h2>
  </section>
</div>