<section class="model-details">
  <h3>{{ recruiter.username }}</h3>
  <p>First Name: {{ recruiter.firstName }}</p>
  <p>Last Name: {{ recruiter.lastName }}</p>
  <p>E-mail: {{ recruiter.email }}</p>
  <div class="container">
    <div class="row">
      <a routerLink="/recruiters/edit/{{recruiter.id}}" class="btn btn-primary a-btn-slide-text">
        <span><strong>Edit</strong></span>
      </a>
      <a href="javascript:void(0)" class="btn btn-danger a-btn-slide-text" data-toggle="modal" data-target="#deleteModal">
        <span><strong>Delete</strong></span>
      </a>
    </div>
  </div>
  <a routerLink="/recruiters"><p>Go back to list</p></a>
</section>

<!-- Modal -->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ recruiter.username }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteRecruiter()">Delete</button>
      </div>
    </div>
  </div>
</div>
